In [1]:
import pandas as pd

/Users/es.py/.pyenv/versions/3.6.5/lib/python3.6/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
content_html = '''
<table class="orderSumTable"><tbody><tr><td style="width: 180px;"><h1><span id="ctl00_MainContent_OrderSummaryModule1_summaryLbl">Orderoverzicht</span></h1></td></tr><tr><td class="rowSpacer3" colspan="2"></td></tr><tr><td><b><span id="ctl00_MainContent_OrderSummaryModule1_lFLowerValue">Bloemenwaarde:</span></b></td><td class="Col2"><span id="ctl00_MainContent_OrderSummaryModule1_lFLowerValueValue">21,99 EUR</span></td></tr><tr><td><b><span id="ctl00_MainContent_OrderSummaryModule1_lAddons">Addons:</span></b></td><td class="Col2"><span id="ctl00_MainContent_OrderSummaryModule1_lAddonsValue">9,45 EUR</span></td></tr><tr id="ctl00_MainContent_OrderSummaryModule1_deliveryTr"><td><b><span id="ctl00_MainContent_OrderSummaryModule1_lDelFee">Leverkosten:</span></b></td><td class="Col2"><span id="ctl00_MainContent_OrderSummaryModule1_lDelFeeValue">4,60 EUR</span></td></tr><tr><td><hr/></td></tr><tr><td><h1><span id="ctl00_MainContent_OrderSummaryModule1_lSum">Totaal:</span></h1></td><td class="Col2"><span id="ctl00_MainContent_OrderSummaryModule1_lSumValue">36,04 EUR</span></td></tr></tbody></table>
'''

In [4]:
pd.read_html(content_html)[0]

                0          1
0  Orderoverzicht        NaN
1             NaN        NaN
2  Bloemenwaarde:  21,99 EUR
3         Addons:   9,45 EUR
4    Leverkosten:   4,60 EUR
5             NaN        NaN
6         Totaal:  36,04 EUR

In [3]:
data = pd.read_clipboard()

In [4]:
data.head()

   1 2grams 3grams 4-grams 5-grams 6-grams  7-grams   8-grams    9-grams
0  e     th    the    tion   ation  ations  present  differen  different
1  t     he    and    atio   tions  ration  ational  national  governmen
2  a     in    ing    that   which  tional  through  consider  overnment
3  o     er    ion    ther   ction  nation  between  position  formation
4  i     an    tio    with   other  ection  ication  ifferent  character

In [8]:
for column in data.columns:
    data[column].to_csv('/Users/es.py/Documents/touch-typing-ngrams/{}.csv'.format(column))

In [13]:
bnr_user = pd.read_clipboard(columns=['colums_name', 'id', 'serial'])

TypeError: parser_f() got an unexpected keyword argument 'columns'

In [14]:
bnr_user.columns = ['colums_name', 'id', 'serial']

In [29]:
bnr_user.to_csv('/Users/es.py/Documents/BNR-Exuus/user_columns.csv')

In [30]:
endpoints = pd.read_csv('/Users/es.py/Documents/api_endpoints.csv', sep='|')

In [31]:
endpoints.Endpoint = endpoints.Endpoint.replace("'", "")

In [32]:
endpoints = endpoints[["Endpoint", "Method", "Description"]]

In [34]:
endpoints.to_clipboard()