In [1]:
import pandas as pd

/Users/es.py/.pyenv/versions/3.6.5/lib/python3.6/site-packages/pandas/compat/__init__.py:117: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
content_html = '''
<table class="orderSumTable"><tbody><tr><td style="width: 180px;"><h1><span id="ctl00_MainContent_OrderSummaryModule1_summaryLbl">Orderoverzicht</span></h1></td></tr><tr><td class="rowSpacer3" colspan="2"></td></tr><tr><td><b><span id="ctl00_MainContent_OrderSummaryModule1_lFLowerValue">Bloemenwaarde:</span></b></td><td class="Col2"><span id="ctl00_MainContent_OrderSummaryModule1_lFLowerValueValue">21,99 EUR</span></td></tr><tr><td><b><span id="ctl00_MainContent_OrderSummaryModule1_lAddons">Addons:</span></b></td><td class="Col2"><span id="ctl00_MainContent_OrderSummaryModule1_lAddonsValue">9,45 EUR</span></td></tr><tr id="ctl00_MainContent_OrderSummaryModule1_deliveryTr"><td><b><span id="ctl00_MainContent_OrderSummaryModule1_lDelFee">Leverkosten:</span></b></td><td class="Col2"><span id="ctl00_MainContent_OrderSummaryModule1_lDelFeeValue">4,60 EUR</span></td></tr><tr><td><hr/></td></tr><tr><td><h1><span id="ctl00_MainContent_OrderSummaryModule1_lSum">Totaal:</span></h1></td><td class="Col2"><span id="ctl00_MainContent_OrderSummaryModule1_lSumValue">36,04 EUR</span></td></tr></tbody></table>
'''

In [4]:
pd.read_html(content_html)[0]

                0          1
0  Orderoverzicht        NaN
1             NaN        NaN
2  Bloemenwaarde:  21,99 EUR
3         Addons:   9,45 EUR
4    Leverkosten:   4,60 EUR
5             NaN        NaN
6         Totaal:  36,04 EUR